@model List<RealStateApp.Core.Application.ViewModel.Propiedad.PropiedadViewModel>
@using RealStateApp.Core.Application.Helpers;
@using RealStateApp.Core.Application.Dto.Account;
@inject IHttpContextAccessor httpContext;
@{
    ViewData["Title"] = "Index";

    var user = httpContext.HttpContext.Session.get<AuthenticationResponse>("User");

    var isCliente = user != null ? user.Roles.Any(r => r == "Cliente") : false;
}

<div class="row">
    <div class="mb-4 col-4">
        <form asp-controller="Home" asp-action="BuscarPorCodigo" method="post">
            <div class="d-flex">
                <input type="text" class="form-control me-2" placeholder="Buscar por codigo" />
                <button type="submit" class="btn btn-outline-success"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
        </form>
    </div>

    <div class="mb-4 col-4">
        <form asp-controller="Home" asp-action="BusquedaConjunta" method="post">
            <div class="d-flex">
                <input type="text" class="form-control me-2" name="tipoPropiedad" placeholder="Tipo propiedad" />
                <button type="submit" class="btn btn-outline-success"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
        </form>
    </div>

    <div class="mb-4 col-4">
        <form asp-controller="Home" asp-action="BusquedaConjunta" method="post">
            <div class="d-flex">
                <input type="text" class="form-control me-2" name="precioMinimo" placeholder="Precio minimo" />
                <button type="submit" class="btn btn-outline-success"><i class="fa-solid fa-magnifying-glass"></i></button>

            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="mb-4 col-4">
        <form asp-controller="Home" asp-action="BusquedaConjunta" method="post">
            <div class="d-flex">
                <input type="text" class="form-control me-2" name="precioMaximo" placeholder="Precio Maximo" />
                <button type="submit" class="btn btn-outline-success"><i class="fa-solid fa-magnifying-glass"></i></button>

            </div>
        </form>
    </div>

    <div class="mb-4 col-4">
        <form asp-controller="Home" asp-action="BusquedaConjunta" method="post">
            <div class="d-flex">
                <input type="text" class="form-control me-2" name="numeroHabitaciones"  placeholder="Numero Habitaciones" />
                <button type="submit" class="btn btn-outline-success"><i class="fa-solid fa-magnifying-glass"></i></button>

            </div>
        </form>
    </div>

    <div class="mb-4 col-4">
        <form asp-controller="Home" asp-action="BusquedaConjunta" method="post">
            <div class="d-flex">
                <input type="text" class="form-control me-2" name="numeroAcedados" placeholder="Numero Aceados" />
                <button type="submit" class="btn btn-outline-success"><i class="fa-solid fa-magnifying-glass"></i></button>

            </div>
        </form>
    </div>
</div>

@* 
<div class="container busqueda_conjunta">
    <div class="busqueda_conjunta__contenedor">
        <div class="titulo__busqueda__conjunta">
            <h2>¡Busca tu Propiedad!</h2>
        </div>
        <form asp-controller="Home" asp-action="BusquedaConjunta" method="post">
        <div class="d-flex">
            <p style="font-size: 20px;" class="fw-bold">Tipo de Propiedad: </p>
                <input class="formulario__busqueda mt-1" name="tipoPropiedad" type="text">
        </div>

        <div class="d-flex">
            <p style="font-size: 20px;" class="fw-bold">Precio Minimo: </p>
                <input class="formulario__busqueda mt-1" name="precioMinimo" type="text">
        </div>

        <div class="d-flex">
            <p style="font-size: 20px;" class="fw-bold">Precio Maximo: </p>
                <input class="formulario__busqueda mt-1" name="precioMaximo" type="text">
        </div>

        <div class="d-flex">
            <p style="font-size: 20px;" class="fw-bold">Numero de Habitaciones: </p>
                <input class="formulario__busqueda mt-1" name="numeroHabitaciones" type="text">
        </div>

        <div class="d-flex">
            <p style="font-size: 20px;" class="fw-bold">Numero de Baños: </p>
                <input class="formulario__busqueda mt-1" name="numeroAcedados" type="text">
        </div>

        <div class="p-2" style="border-top: 3px solid;">
            <button class="boton__busqueda__conjunta float-end mb-4 p-2">Buscar</button>
        </div>
        </form>

    </div>
</div> *@
<section class="contenedor">
    @foreach (var item in Model)
    {
        <a asp-action="detalles" asp-controller="Home" asp-route-id="@item.Id" class="ancher">
            <div class="card">
                <img class="card__img" src="@item.ImgUrl.UrlImg" alt="" />
                <h2 class="card__tipo-propiedad"><small class="p0 mr-2" style="color: #909090">Tipo:</small> @item.TipoPropiedad.Nombre</h2>
                <div class="card__contenido">

                    <p class="card__precio"><small class="p0 mr-2" style="color: #909090">Precio: </small> $@item.Precio</p>
                    <p class="card__titulo"><small class="p0 mr-2" style="color: #909090">Codigo:</small> #@item.Identifier</p>
                    <p class="card__calle">
                        <i class="fa-solid fa-location-dot" style="color: #909090"></i>
                        Piantini, Santo Domingo D.N.
                    </p>
                </div>

                <div class="contendor__iconos--Card">
                    <div>
                        <p class="card__iconos--medida">
                            <i class="fa-solid fa-ruler-combined" style="color: #909090; font-size: 18px;"></i>
                            @item.Size
                        </p>
                    </div>

                    <div>
                        <p class="card__iconos--habitaciones">
                            <i class="fa-solid fa-bed" style="color: #909090; font-size: 18px;"></i>
                            @item.NumHabitaciones
                        </p>
                    </div>

                    <div>
                        <p class="card__iconos--baños">
                            <i class="fa-solid fa-toilet" style="color: #909090; font-size: 18px;"></i>
                            @item.NumAceados
                        </p>
                    </div>
                </div>

                @*  @if (isAgente is not false)
            {
            <form asp-controller="Cliente" asp-action="Favorita">
            <input name="propiedadId" value="@item.Id" type="hidden" />

            <input name="userId" value="@user.Id" type="hidden" />

            <button class="btn btn-primary">Marcar como Favorita</button>
            </form>
            } *@
            </div>
        </a>
    }
</section>
