@model List<RealStateApp.Core.Application.ViewModel.Propiedad.PropiedadViewModel>

@{
    ViewData["Title"] = "Propiedad del agente";
}

<section class="contenedor">
    @foreach (var item in Model)
    {
        <a asp-action="detalles" asp-controller="Home" asp-route-id="@item.Id" class="ancher" style="text-decoration: none;">
            <div class="card">
                <img class="card__img" src="@item.ImgUrl.UrlImg" alt="" />
                <h2 class="card__tipo-propiedad"><small class="p0 mr-2" style="color: #909090">Tipo:</small> @item.TipoPropiedad.Nombre</h2>
                <div class="card__contenido">

                    <p class="card__precio"><small class="p0 mr-2" style="color: #909090">Precio: </small> $@item.Precio</p>
                    <p class="card__titulo"><small class="p0 mr-2" style="color: #909090">Codigo:</small> #@item.Identifier</p>
                    <p class="card__calle">
                        <i class="fa-solid fa-location-dot" style="color: #909090"></i>
                        Piantini, Santo Domingo D.N.
                    </p>
                </div>

                <div class="contendor__iconos--Card d-flex align-content-center justify-content-center">
                    <p>
                        <i class="fa-solid fa-ruler-combined" style="color: #909090; font-size: 18px;"></i>
                        @item.Size
                    </p>

                    <p>
                        <i class="fa-solid fa-bed" style="color: #909090; font-size: 18px;"></i>
                        @item.NumHabitaciones
                    </p>

                    <p>
                        <i class="fa-solid fa-toilet" style="color: #909090; font-size: 18px;"></i>
                        @item.NumAceados
                    </p>
                </div>

                @*  @if (isAgente is not false)
            {
            <form asp-controller="Cliente" asp-action="Favorita">
            <input name="propiedadId" value="@item.Id" type="hidden" />

            <input name="userId" value="@user.Id" type="hidden" />

            <button class="btn btn-primary">Marcar como Favorita</button>
            </form>
            } *@
            </div>
        </a>
    }
</section>
