@model List<RealStateApp.Core.Application.ViewModel.Propiedad.PropiedadViewModel>
@{
    ViewData["Title"] = "PropiedadesDelAgente";
}

<section class="row">
    <div class="col-4">
        @foreach (var item in Model)
        {
            <a asp-action="detalles" asp-controller="Home" asp-route-id="@item.Id" class="ancher">
                <div class="card">
                    <img class="card__img" src="https://d2p0bx8wfdkjkb.cloudfront.net/static/properties/TBCZYOYRXE/KKE0QAHBJV/Eaf3FGeezF/00c4fc57-2522-47e0-963b-d7688d12219a.jpg" alt="" />
                    <h2 class="card__tipo-propiedad"><small class="p0 mr-2" style="color: #909090">Tipo:</small> @item.TipoPropiedad.Nombre</h2>
                    <div class="card__contenido">

                        <p class="card__precio"><small class="p0 mr-2" style="color: #909090">Precio: </small> $@item.Precio</p>
                        <p class="card__titulo"><small class="p0 mr-2" style="color: #909090">Codigo:</small> #@item.Identifier</p>
                        <p class="card__calle">
                            <i class="fa-solid fa-location-dot" style="color: #909090"></i>
                            Piantini, Santo Domingo D.N.
                        </p>
                    </div>

                    <div class="contendor__iconos--Card">
                        <p class="card__iconos--medida">
                            <i class="fa-solid fa-ruler-combined" style="color: #909090; font-size: 18px;"></i>
                            @item.Size
                        </p>

                        <p class="card__iconos--habitaciones">
                            <i class="fa-solid fa-bed" style="color: #909090; font-size: 18px;"></i>
                            @item.NumHabitaciones
                        </p>

                        <p class="card__iconos--baños">
                            <i class="fa-solid fa-toilet" style="color: #909090; font-size: 18px;"></i>
                            @item.NumAceados
                        </p>
                    </div>
                </div>
            </a>
        }
    </div>
   
</section>

