
@{
    ViewData["Title"] = "Index";

    var countPropiedades = @ViewBag.contPropiedades;
    var countAgentesActivos = @ViewBag.countAgentesActivos;
    var countAgentesInactivos = @ViewBag.countAgentesInactivos;
    var countClientesActivos = @ViewBag.countClientesActivos;
    var countClientesInactivos = @ViewBag.countClientesInactivos;
    var countDesarrolladoresActivos = @ViewBag.countDesarrolladoresActivos;
    var countDesarrolladoresInactivos = @ViewBag.countDesarrolladoresInactivos;
}

<p>Conteo de Propiedades : @countPropiedades</p>

<p>Conteo de Agentes Activos : @countAgentesActivos</p>

<p>Conteo de Agentes Inactivos : @countAgentesInactivos</p>

<p>Conteo de Clientes Activos : @countClientesActivos</p>

<p>Conteo de Clientes Activos : @countClientesInactivos</p>

<p>Conteo de Desarrolladores Activos : @countDesarrolladoresActivos</p>

<p>Conteo de Desarrolladores Inactivos : @countDesarrolladoresActivos</p>

<p>Conteo de Desarrolladores Inactivos : @countDesarrolladoresInactivos</p>

